/* 
  blue : #073B4C
  turqoise: #06D6A0
  yellow: #FFD166
  red:  #EF476F
  grey : #323031
  
*/

html, body {
  background: #073B4C;
  font-family: "Poor Story", cursive;
  position: fixed;
  padding: 0px;
  margin: 0px;
  height: 100vh !important;
  width: 100vw !important;
  overflow: hidden; 
}
#win, #loose {
  font-size: 2em;
  margin-top: 10%;
  text-align: center;
  padding: 50px;
  background: blue;
}
#win {
  color: #FFD166;
}

#loose {
  color: #EF476F;
}

.hide {
  display: none;
}

#waiting {
  text-align: center;
}

#roomsInput {
  margin-top: 10%;
  text-align: center;
}
#roomsInput > *{
  font-size: 2rem;
  padding: 3%;
  color: black;
  border: 1px solid black;
  border-radius: 10px;
}

#buttonDiv, #rooms {
  margin-top: 10%;
  text-align: center;   
}

#rooms > button {
  font-size: 2rem;
  padding: 10%;
  color: black;
  border: 1px solid black;
  border-radius: 10px;
  transition: .2s;
}

#host {
  margin-right: 20px;
}
#rooms > button:hover {
  transform:scale(1.1);
  box-shadow: 0px 0px 20px 2px black;
}
.choosePlayer{
  font-size: 2rem;
  display: none;
  padding: 10%;
  color: black;
  border: 1px solid black;
  border-radius: 10px;
  transition: .2s;
}

#player1 {
  margin-right: 20px;
}
#player1:hover, #player2:hover {
  transform:scale(1.1);
  box-shadow: 0px 0px 20px 2px black;
}

#player1 {
  background: #FFD166;;
} 

#player2 {
  background: #EF476F;
} 

#side-bar {
  color: white;
  transform: translateX(-25vw);
  text-align: center;
  padding: 10px;
  width: 20vw;
  background: #4c494a;
  height: 100vh;
  display: inline-block;
  position: fixed;
  left: 0;
  top: 50px;
  transition: .3s ease-in;
}

@media screen and (min-width: 960px){
  #side-bar {
    width: 15vw;
  }
} 

#side-bar label {
  display: block;
}

#side-bar > h1 {
  padding: 0px;
  margin: 0px;
  display: inline-block;
  border-bottom: 1px solid black;
}

#side-bar select {
  margin: 10px;
}

#config {

}

.controls {
  margin: 20px auto;
  display: block;
  font-size: 1.5em;
}

.controls input {
  width: 100%;
}

.btn-control {
  padding: 6px;
  margin: 2px;
}

#nav {
  z-index: 99;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
  background: #323031;
  padding: 1vw 1vh;
}

.hamDiv {
  padding: 10px;
  transition: .3s ease-in;
  display: inline-block;
}


.ham {
  border-radius: 2px;
  height: 2px;
  background: rgb(255, 250, 235);
  width: 25px;
  display: block;
  margin-bottom: 5px;
}

/* .ham:nth-of-type(1) {
  margin-top: 5px;
} */

.ham:nth-of-type(3) {
  margin-bottom: 0px;
}

.ham-rotate {
  transform: rotate(360deg);
}
.side-bar-open {
  transform: translateX(0)!important;
}